$color-red: #CF0A2C;
$color-red-dark: #9E0822;

$color-blue: #2E4261;
$color-blue-dark: #2E4261;
$color-blue-facebook: #3b5998;

$color-grey-input-border: #a9a9a9;
$color-grey-select-text: #545454;
$color-grey-text: #636363;

$color-green-bright: #18ff00;

$shadow-1: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-2: -12px 13px 20px rgba(0, 0, 0, 0.19), -3px 4px 6px rgba(0, 0, 0, 0.23);
$shadow-secondary-1: 0px 1px 3px rgba(0, 0, 0, 0.24), -2px 2px 2px rgba(0, 0, 0, 0.12);
$shadow-secondary-2: -2px 3px 5px rgba(0, 0, 0, 0.5);

$font-smallest: 11px;
$font-smaller: 12px;
$font-small: 14px;
$font-base: 16px;
$font-large: 20px;
$font-larger: 25px;
$font-largest: 31px;
$font-jumbo: 49px;


$transition: all 0.3s ease;

$test-image: url('https://i.ytimg.com/vi/AFtUpMTs4vI/maxresdefault.jpg') no-repeat center center;
$logo: url('/images/logos/os_icon.svg') no-repeat center center;