.article-create-wrap {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	width: 720px;
	height: 700px;
	margin-left: 350px;
}

.article-create-wrap h2 {
	color: white;
	padding-top: 10px;
}

.article-create-wrap input[type=text] {
	margin: 10px;
}

.article-create-wrap select {
	margin: 10px;
}

.article-create-wrap textarea {
	margin: 10px;
}

.article-create-wrap h3 {
	color: white;
}

.article-title-input {
	width: 200px;
}

.article-type {
	width: 100px;
}

.article-body textarea {
	width: 700px;
	height: 140px;
}

.article-summary textarea {
	width: 700px;
	height: 140px;
}

.article-form input[type=submit]{
	border-radius: 0;
	background-color: #961700;
	border-color: gray;
	margin-bottom: 5px;
	width: 130px;
}