@import url(http://fonts.googleapis.com/css?family=Syncopate);

.column-wrap {
	margin: 2%;
}

.column-news,
.column-friends,
.column-articles {
	background-color: rgba(0, 0, 0, 0.5);
	margin-left: 2%;
	margin-top: 10px;
	height: 675px;
	width: 420px;
	float: left;
}

.news-title,
.friends-title,
.articles-title {
	font-family: Syncopate;
	text-align: center;
	color: white;
	margin: 5px;
	font-size: 35px;
}	

.news-title div,
.friends-title div,
.articles-title div {
	font-size: 10px;
}

.articles-title a, 
.friends-title a,
.news-title a {
	color: white;
}

.news-title a:focus,
.news-title a:hover, 
.friends-title a:focus,
.friends-title a:hover, 
.articles-title a:focus,
.articles-title a:hover {
	color: #eee;
	text-decoration: none;
	text-shadow: 1px 0px 20px #ccc;
	outline: 0;
}

#create-article .modal-content {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 5px 10px;
}

.modal-body h2 {
	font-family: Syncopate;
	color: black;
	text-align: center;
}

#create-article input[type=submit]{
	border-radius: 0;
	background-color: #961700;
	border-color: gray;
	margin-bottom: 5px;
	width: 130px;
}

#create-article input[type=submit] {
	margin-top: 10px;
}

.article-type {
	margin-top: 5px;
	width: 120px;
	font-size: 10px;
	font-weight: bold;
}

.article-titles {
	padding-top: 10px;
	padding-left: 30px;
	font-weight: bold;
	text-align: left;
}

.article-titles a {
	font-size: 15px;
}

.article-link {
	margin-top: 10px;	
}

.news-filters button {
	color: white;
	opacity: 0.90;
	background-color: #323232;
}

.news-filters button:hover {
	opacity: 0.7;
	background-color: black;
}	
