html, body {
	height: 100%;
	margin: 0;
}

body {
    background: url('/images/racetrackpurpMarkIIII.png') no-repeat;
	background-size: cover;
}

.dashboard-link {
	position: absolute;
	width: 300px;
	margin-top: 3px;
}

.main-header-icons div {
	float: right;
	margin-right: 5px;
	margin-left: 3px;
	margin-top: 20px;
	width: auto;
}

.profile-link {
	float: right;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

.profile-link a,
.home-link a,
.main-header-icons a {
	color: #ccc;
}

.profile-link a:hover,
.home-link a:hover,
.main-header-icons a:hover,
.profile-link a:focus,
.home-link a:focus,
.main-header-icons a:focus {
	color: #eee;
	text-decoration: none;
	text-shadow: 1px 0px 20px #ccc;
	outline: 0;
}

.search-box {
	width: 300px;
	margin-left: 54%;
	margin-top: -35px;
}

.search-box .form-control {
	height: 29px;
}